.product-details {
  overflow: hidden; /* Hide content that overflows */
  max-height: 70px; /* Set a maximum height for the description */
}

.product-card {
  position: relative;
  background-color: white;
  width: 222px;
  height: 230px;
  padding: 20px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.product-image {
  width: 160px;
  height: 100px;
  object-fit: cover;
}

.product-button {
  background-color: #E5A935; 
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  font-family: Montserrat; 
  font-weight: 300;
  display: inline-block;
  width: 160px;
  margin-top: 70px;


}

  